
img {
    width: 60px;
  }

  .carousel {
    margin-block: 130px;
  }

  strong {
    color: yellow;
  }


  .navbar-brand img, #pokeball  {
    height: 50px;
  }

  #dropDown {
    list-style-type: none;
  }

.navbar {
    width: 100%;
    position: fixed;
}
